/*body margin*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*container background image*/
.container{
    position: absolute;
    
    background-image: url('./3-men-walk-along-hill-with-backpacks-with-white-clouds-peak-volcano-background.jpg');
}

/*pointer text center*/
div{
    text-align: center;
    color: aliceblue;
    float: center;
 }

/*overwrite back color back*/
.menu a:hover{
    background-color: black;
    color: white;
}

/*active one one start*/
 .menu a:active{
    background-color: black;
    color: white;
 }

 /*search icon */
 input[type=text] {
    width: 170px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 26px;
    font-size: 16px;
    background-color: white;
    background-position: 10px ; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
 
  p{
    color: black;
  }
  
 


 