/*body margin*/
*{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*container background image*/
.container{
    position: absolute;
    
    background-image: url('./Header-2019.09.25-5-underrated-hiking-trails-in-Eastern-Europe-GetYourGuide.jpg');
    background-repeat: no-repeat;

    
}
a{
    color: white;
}

/*pointer text center*/
div{
    text-align: center;
    color: aliceblue;
    float: center;
 }

/*overwrite back color back*/
.menu a:hover{
    background-color: black;
    border-radius: 10px;
    color: white;
}

/*active one one start*/
 .menu a:active{
    background-color: black;
    color: white;
 }

 /*search icon */
 .rounded float-right {
    width: 170px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    background-color: white;
    background-position: 10px ; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
 
 
 
 h5{
    color: black;
 }

 
 